{% extends "shared_base.html" %}

{% block content %}
<div class="app1 fancy-box">
    <div class="text-center">
    <h1>Welcome to App One.</h1>
    <p>
        Click the buttons to go to Apps Two or Three.
    </p>
        </div>
    <div class="row pb-2">
        <div class="col-sm-0 col-md-1"></div>
        <div class="col-sm-6 col-md-5 mt-1">
            <a href="{% url 'app2_index' %}" class="btn btn-block btn-outline-secondary">App Two</a>
        </div>
        <div class="col-sm-6 col-md-5 mt-1">
            <a href="{% url 'app3_index' %}" class="btn btn-block btn-outline-secondary">App Three</a>
        </div>
        <div class="col-sm-0 col-md-1"></div>
    </div>
</div>
{% endblock %}
